<div>
    <form>
        <!--<label for="users">Choose a user:</label>
        <select name="users" id="users">
            {{#each userNames}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <label for="similarity">Similarity:</label>
        <select name="similarity" id="similarity">
          <option value="Euclidean">Euclidean</option>
          <option value="Pearson">Pearson</option>
        </select>
        <label for="results">Results:</label>
        <input id="results" type="number" value="3" />
        <br />-->
        <button type="button" id="button-k-means-clustering">K-means Clustering (Pearson)</button>
        <button type="button" id="button-hierarchical-clustering">Hierarchical Clustering (Pearson)</button>
        <br /><br />
        <table id="results-table" hidden>
            <tr>
                <th>Movie</th>
                <th>ID</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>Just My Luck</td>
                <td>3</td>
                <td>3.55</td>
            </tr>
        </table> 
    </form>
</div>
