<header>
    <a class="navbar-brand-0" href="./">Recommendation System</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="leftlist">
      <li class="nav-item">
        {{#if loggedOn}}
        <a class="nav-link" href="./">Back</a>
        {{/if}}
      </li>
    </ul>
</header>